.client-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    min-height: 100vh;
  }
  
  .client-profile h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .client-info, .edit-form, .schedules, .memberships {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .client-info p, .schedule-item p, .membership-item p {
    margin: 8px 0;
  }
  
  .edit-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .edit-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    /* margin-left: 10px; */
    margin-right: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .schedule-item, .membership-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }
  